body {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
  background-repeat: no-repeat;
  font-family: "Kaushan Script", cursive;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}
h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: cadetblue;
  text-align: center;
}
.quote {
  font-size: 16px;
  background: white;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
  color: gray;
  border-left: 3px solid rgba(236, 19, 19, 0.8);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.06);
}

form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.06);
  margin-bottom: 30px;
}
.information {
  padding: 16px;
  border: 1px solid lightgray;
  border-radius: 50px;
  width: 80%;
  font-size: 16px;
  line-height: 1.5;
}
.submit-button {
  margin-left: 10px;
  background: rgba(236, 19, 19, 0.8);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 24px;
  width: 150px;
  font-size: 16px;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

footer a {
  text-decoration: none;
  color: rgba(236, 19, 19, 0.8);
}
